---
import type { CollectionEntry } from 'astro:content'
import BlogCard from './blogcard.astro'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<div
  itemprop='mainEntity'
  itemscope
  itemtype='https://schema.org/Article'
  class='bg-rosely7 dark:bg-rosely1 mx-auto max-w-none p-4 sm:px-6 lg:px-8'
>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3'>
    {posts.map((post) => <BlogCard post={post} />)}
  </div>
  <slot />
</div>
