---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import { Logo } from '../common/config'

const social = await getCollection('social')
---

<div class='h-24 lg:h-16'></div>
<footer class='text-rosely1 dark:text-rosely7'>
  <div
    class='border-rosely-b bg-rosely6 dark:bg-rosely8 fixed inset-x-0 bottom-0 z-20 flex w-full flex-col items-center border-t-2 px-4 py-1 lg:flex-row lg:px-8 lg:py-4'
  >
    <span class='flex flex-none flex-row items-center'>
      <a
        class='title-font flex items-center justify-center font-medium lg:justify-start'
        href={import.meta.env.BASE_URL}
      >
        <img src={Logo.src} alt='Footer Logo' class='dark:bg-rosely3 h-6 w-6' loading='lazy' />
        <span class='sr-only'>Logo</span>
      </a>
      <p class='border-rosely-b ml-2 border-l-2 py-1 pl-2 text-sm'>
        © {new Date().getFullYear()} MIT licence
        <a
          href='https://hellotham.com'
          class='text-rosely9 hover:text-rosely-c dark:text-rosely-b dark:hover:text-rosely5 ml-1'
          rel='noopener noreferrer'
          target='_blank'
        >
          Hello Tham Pty Ltd
        </a>
      </p>
    </span>
    <span class='flex flex-none flex-row items-center'>
      <p class='lg:border-rosely-b text-sm lg:ml-4 lg:border-l-2 lg:py-1 lg:pl-4'>
        <a
          href={import.meta.env.BASE_URL + 'privacy'}
          class='text-rosely9 hover:text-rosely-c dark:text-rosely-b dark:hover:text-rosely5 ml-1'
        >
          Privacy Policy
        </a>
      </p>
      <p class='border-rosely-b ml-4 border-l-2 py-1 pl-4 text-sm'>
        <a
          href={import.meta.env.BASE_URL + 'rss.xml'}
          class='text-rosely9 hover:text-rosely-c dark:text-rosely-b dark:hover:text-rosely5 ml-1'
          rel='noopener noreferrer'
          target='_blank'
        >
          RSS
        </a>
      </p>
      <p class='border-rosely-b ml-4 border-l-2 py-1 pl-4 text-sm'>
        <a
          href={import.meta.env.BASE_URL + 'sitemap-index.xml'}
          class='text-rosely9 hover:text-rosely-c dark:text-rosely-b dark:hover:text-rosely5 ml-1'
          rel='noopener noreferrer'
          target='_blank'
        >
          Sitemap
        </a>
      </p>
    </span>
    <span class='mt-2 inline-flex grow justify-center lg:mt-0 lg:ml-auto lg:justify-end'>
      {
        social.map((s) => (
          <a
            href={s.data.link}
            class='text-rosely9 hover:text-rosely-c dark:text-rosely-b dark:hover:text-rosely5 ml-3'
            rel='noopener noreferrer'
            target='_blank'
          >
            <Icon name={'bi:' + s.data.icon} class='h-5 w-5' />
            <span class='sr-only'>{s.data.name}</span>
          </a>
        ))
      }
    </span>
  </div>
</footer>
