---
import { getAllPosts } from '../common/config'

const posts = getAllPosts()
---

<!doctype html>
<html>
  <head>
    <meta
      http-equiv='refresh'
      content={`0; url=${import.meta.env.BASE_URL + posts[0].data.pubDate!.getFullYear()}`}
    />
  </head>
  <body> </body>
</html>
