---
import { getCollection } from 'astro:content'
import type { Frontmatter } from '../config'
import { SiteMetadata, Websites } from '../config'
import Base from '../layouts/base.astro'
import Carousel from '../components/carousel.astro'
import BlogRoll from '../components/blogroll.astro'
import CategoryRoll from '../components/categoryroll.astro'
import WebRoll from '../components/webroll.astro'

const frontmatter: Frontmatter = {
  title: SiteMetadata.title,
  description: SiteMetadata.description,
  coverImage: '../images/me/home.jpeg',
  socialImage: '../images/me/home.jpeg',
  publishDate: SiteMetadata.buildTime,
}

const carouselPages = [
  { name: 'Cowarra Dam', image: '../images/gallery/carousel/Cowarra-Dam.jpeg' },
  { name: 'Mayfield Garden', image: '../images/gallery/carousel/Mayfield-Garden.jpeg' },
  { name: 'Mt Tomah', image: '../images/gallery/carousel/Mt-Tomah.jpeg' },
  { name: 'Oberon Dam', image: '../images/gallery/carousel/Oberon-Dam.jpeg' },
]

const posts = await getCollection('blog')
const latestPosts = posts.sort((a, b) => +b.data.publishDate - +a.data.publishDate).filter(p => !p.data.draft)

// console.log(latestPosts)
const categories = Array.from(new Set(latestPosts.flatMap(post => post.data.categories))).sort() as string[]
---

<Base frontmatter={frontmatter}>
  <Carousel pages={carouselPages} >
      <h1
        class="text-4xl tracking-tight font-extrabold text-rosely3 sm:text-5xl md:text-6xl text-left"
      >
      <span class="block text-rosely5 xl:inline"
      >Chris Tham
    </span>
    <span class="block xl:inline">Personal Web Site</span>{' '}
      </h1>
      <p
        class="mt-3 text-sm text-rosely6 sm:mt-5 sm:text-base lg:text-2xl sm:mx-auto md:mt-5 lg:mx-0"
      >
      artist, consultant, cyclist, designer, musician, photographer, world traveller.
      </p>
      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
        <div class="rounded-md shadow">
          <a
            href={import.meta.env.BASE_URL + 'bio'}
            class="w-full flex items-center justify-center px-8 py-2 border border-transparent text-base font-medium rounded-md text-white bg-rosely9 hover:bg-roselyC dark:text-rosely0 dark:bg-roselyB dark:hover:bg-rosely5 md:py-3 md:text-lg md:px-10"
          >
            About Me
          </a>
        </div>
        <div class="mt-3 sm:mt-0 sm:ml-3">
          <a
            href={import.meta.env.BASE_URL + 'blog'}
            class="w-full flex items-center justify-center px-8 py-2 border border-transparent text-base font-medium rounded-md text-rosely0 bg-roselyA hover:bg-rosely5 dark:text-roselyB dark:bg-rosely1 dark:hover:bg-rosely8 md:py-3 md:text-lg md:px-10"
            rel="noopener noreferrer"
            target="_blank"
          >
            Read Blog
          </a>
        </div>
      </div>
    </Carousel>
    <div class="flex flex-row items-center p-4 sm:px-6 lg:px-8 bg-rosely7 dark:bg-rosely1">
      <h2 class="text-2xl md:text-4xl font-extrabold text-rosely8 dark:text-roselyB" >
        Featured websites
      </h2>
      <a
        href={import.meta.env.BASE_URL + 'websites'}
        class="inline-block px-2 py-2 mt-2 ml-4 rounded-md bg-rosely9 hover:bg-roselyC text-white dark:bg-roselyB dark:hover:brosely5 dark:text-rosely0 font-semibold text-base md:text-lg"
      >
        All Websites
      </a>
    </div>
    <WebRoll websites={Websites.filter(site => site.featured)} />
  <h2
    class="text-2xl md:text-4xl font-extrabold text-rosely8 dark:text-roselyB mx-auto p-4 sm:mx-2 lg:mx-4"
  >
    My Interests
  </h2>
  <CategoryRoll categories={categories} />
  <div class="flex flex-row items-center p-4 sm:px-6 lg:px-8 bg-rosely7 dark:bg-rosely1">
    <h2 class="text-2xl md:text-4xl font-extrabold text-rosely8 dark:text-roselyB" >
      My Latest Articles
    </h2>
    <a
      href={import.meta.env.BASE_URL + 'blog'}
      class="inline-block px-2 py-2 mt-2 ml-4 rounded-md bg-rosely9 hover:bg-roselyC text-white dark:bg-roselyB dark:hover:brosely5 dark:text-rosely0 font-semibold text-base md:text-lg"
    >
      All Articles
    </a>
    <a
      href={import.meta.env.BASE_URL + 'categories'}
      class="inline-block px-2 py-2 mt-2 ml-4 rounded-md text-rosely0 bg-roselyA hover:bg-rosely5 dark:text-roselyB dark:bg-rosely8 dark:hover:bg-roselyC font-semibold text-base md:text-lg"
    >
      Categories
    </a>
    <a
      href={import.meta.env.BASE_URL + 'tags'}
      class="inline-block px-2 py-2 mt-2 ml-4 rounded-md text-rosely0 bg-roselyA hover:bg-rosely5 dark:text-roselyB dark:bg-rosely8 dark:hover:bg-roselyC font-semibold text-base md:text-lg"
    >
      Tags
    </a>
  </div>
  <BlogRoll posts={latestPosts} />
</Base>
