---
import 'swiper/css/bundle'

export interface Props {
  pages: {
    name: string
    image: string
    title?: string
    description?: string
  }[]
}

const { pages } = Astro.props

const imagepaths = pages.map((page) => page.image)
const imageFiles = import.meta.glob<ImageMetadata>('../images/gallery/**/*.{png,webp,jpg,jpeg}', {
  import: 'default',
  eager: true
})
const folderFiles = Object.keys(imageFiles).filter((image) => imagepaths.includes(image))
const images = folderFiles.map((image) => imageFiles[image])
---

<div
  style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff'
  class:list={['swiper mySwiper not-prose mx-auto w-full max-w-full', 'h-[600px]']}
>
  <div class='swiper-wrapper'>
    {
      pages.map((page, i) => (
        <div class='swiper-slide relative'>
          <div class='from-rosely0 absolute bottom-0 left-0 z-10 h-full w-full bg-linear-to-t opacity-25 xl:rounded-lg' />
          <img
            src={images[i].src}
            alt={page.name}
            class='absolute top-0 left-0 z-0 m-0 h-full w-full object-cover object-center'
          />
          <div class='absolute bottom-0 left-0 z-20 mb-4 bg-transparent p-4 text-white sm:ml-2 lg:ml-4'>
            {page.title && <h4 class='text-rosely3 text-lg font-bold'>{page.title}</h4>}
            {page.description && <p class='text-rosely6 text-base italic'>{page.description}</p>}
            <slot />
          </div>
        </div>
      ))
    }
  </div>
  <div class='swiper-button-next'></div>
  <div class='swiper-button-prev'></div>
  <div class='swiper-pagination'></div>
</div>

<!-- Swiper JS -->
<script>
  // @ts-ignore
  import Swiper from 'swiper/bundle'

  new Swiper('.mySwiper', {
    cssMode: true,
    loop: true,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    mousewheel: true,
    keyboard: true
  })
</script>
