---
import { Icon } from 'astro-icon'
import { NavigationLinks, Logo } from '../config'
import Search from '../components/search.astro'
import Theme from '../components/theme.astro'
import Img from '../components/img.astro'
---

<div class="relative h-16 w-full" >
<nav x-data="{ isOpen: false }" class="bg-rosely6 dark:bg-rosely8">
  <div class="fixed z-50 mx-auto px-2 sm:px-6 lg:px-8 w-full border-b-2 border-roselyB bg-rosely6 dark:bg-rosely8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          x-on:click="isOpen = !isOpen"
          class="inline-flex items-center justify-center p-2 rounded-md text-rosely9 hover:text-roselyC hover:bg-roselyB dark:text-roselyB dark:hover:text-rosely7 dark:hover:bg-rosely9 dark:focus:ring-roselyB focus:outline-none focus:ring-2 focus:ring-inset focus:ring-roselyB"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <Icon
            x-bind:class="{'hidden': isOpen, 'block': !isOpen }"
            class="block h-6 w-6"
            aria-hidden="true"
            pack="heroicons-outline"
            name="menu"
          />
          <Icon
            x-bind:class="{'block': isOpen, 'hidden': !isOpen }"
            class="hidden h-6 w-6"
            aria-hidden="true"
            pack="heroicons-outline"
            name="x"
          />
        </button>
      </div>
      <div
        class="flex-1 flex items-center justify-center lg:items-stretch lg:justify-start"
      >
        <div class="flex-shrink-0 flex items-center">
          <Img
            class="block h-8 w-8"
            src={Logo}
            alt="Logo"
          />
        </div>
        <div class="hidden lg:block lg:ml-6">
          <div class="flex space-x-4">
            {
              NavigationLinks.map(item => (
                <a
                  href={import.meta.env.BASE_URL + item.href}
                  class={
                    (item.href.length > 0 &&
                    Astro.url.toString().includes(item.href)
                      ? 'bg-rosely5 text-roselyC dark:bg-roselyC dark:text-white'
                      : 'text-rosely8 hover:bg-roselyB hover:text-roselyC dark:text-rosely7 dark:hover:bg-rosely9 dark:hover:text-white') +
                    ' px-2 py-2 rounded-md text-lg font-medium'
                  }
                  aria-current={
                    item.href.length > 0 &&
                    Astro.url.toString().includes(item.href)
                      ? 'page'
                      : undefined
                  }
                >
                  {item.name}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <Search />
        <Theme />

        <!-- Right nav -->
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    x-show="isOpen"
    x-cloak
    x-transition:enter="transition ease-out duration-100 transform"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75 transform"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    class="absolute top-16 inset-x-0 z-50"
    id="mobile-menu"
  >
    <div class="px-4 py-2 bg-rosely6 dark:bg-rosely8 font-semibold border-rosely7 border-t-2 border-b-2 flex justify-center gap-x-2">
      {
        NavigationLinks.map(item => (
          <a
            href={import.meta.env.BASE_URL + item.href}
            class:list={[
              (item.href.length > 0 && Astro.url.toString().includes(item.href)
                ? 'bg-rosely5 text-roselyC dark:bg-roselyC dark:text-white'
                : 'text-rosely8 hover:bg-roselyB hover:text-roselyC dark:text-rosely7 dark:hover:bg-rosely9 dark:hover:text-white'),
              ' px-2 rounded'
            ]}
            aria-current={
              item.href.length > 0 && Astro.url.toString().includes(item.href)
                ? 'page'
                : undefined
            }
          >
            {item.name}
          </a>
        ))
      }
    </div>
  </div>
</nav>
</div>
