---
import Lightbox from './lightbox.astro'

export interface Props {
  images: ImageMetadata[]
}

const { images } = Astro.props
---

<p class='dark:rosely7 text-rosely1 py-4 text-sm italic'>
  Please click on any photo to view in a lightbox. Use arrow keys or swipe to navigate.
</p>
<div id='images' class='not-prose block w-full' itemscope itemtype='http://schema.org/ImageGallery'>
  <Lightbox id='images' images={images} />
</div>
