---
import type { Sidebar } from '../config'

type Props = {
  currentPage: string
  sidebar: Sidebar
}

const { currentPage, sidebar } = Astro.props
const currentPageMatch = currentPage.slice(1)
---

<div
  class="hidden lg:sticky lg:top-16 lg:-ml-12 lg:block lg:h-[calc(100vh-4rem)] lg:flex-none lg:overflow-y-auto lg:py-16 lg:pl-6 bg-rosely6 dark:bg-rosely8"
>
  <nav
    aria-labelledby="grid-left"
    class="text-base lg:text-sm w-64 pr-8 xl:w-72 xl:pr-16"
  >
    <ul role="list" class="space-y-9">
      {
        Object.entries(sidebar).map(([header, children]) => (
          <li>
            <div class="nav-group">
              <h2 class="font-display font-medium text-rosely8 dark:text-rosely3">
                {header}
              </h2>
              <ul
                role="list"
                class="mt-2 space-y-1 border-l-2 border-roselyB dark:border-roselyA lg:mt-4 lg:space-y-2 lg:border-roselyA"
              >
                {children.map(child => {
                  const url = import.meta.env.BASE_URL + child.link.slice(1)
                  return (
                    <li class="relative">
                      <a
                        href={url}
                        aria-current={
                          currentPageMatch.search(child.link) >= 0
                            ? 'page'
                            : false
                        }
                        class={
                          currentPageMatch.search(child.link) >= 0
                            ? 'block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full font-semibold text-roselyC before:bg-roselyC dark:text-rosely7 dark:before:bg-rosely6'
                            : 'block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-rosely9 before:hidden before:bg-rosely9 hover:text-roselyC hover:before:block dark:text-roselyB dark:before:bg-rosely6 dark:hover:text-rosely6'
                        }
                      >
                        {child.text}
                      </a>
                    </li>
                  )
                })}
              </ul>
            </div>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
