---
import { Image } from 'astro:assets'
import { defaultImage } from '../config'
export interface Props {
  title: string
  description?: string
  coverImage?: ImageMetadata
  socialImage?: ImageMetadata
}

const { title, description, coverImage, socialImage } = Astro.props
---

<div class='relative h-96 w-full max-w-none bg-rosely7 dark:bg-rosely8'>
  <div class='absolute bottom-0 left-0 z-10 h-full w-full bg-linear-to-t from-rosely0'></div>

  <Image
    itemprop='image'
    src={coverImage || socialImage || defaultImage}
    alt={title}
    class='absolute left-0 top-0 z-0 h-full w-full object-contain'
  />
  <div class='absolute bottom-0 left-0 z-20 p-4'>
    <slot name='before' />
    <h2 itemprop='name' class='text-4xl font-bold leading-tight text-rosely3'>{title}</h2>
    <h2 itemprop='abstract description' class='text-xl font-medium italic text-rosely6'>
      {description}
    </h2>
    <slot />
  </div>
</div>
