---
import type { Sidebar } from '../common/config'

type Props = {
  currentPage: string
  sidebar: Sidebar
}

const { currentPage, sidebar } = Astro.props
const currentPageMatch = currentPage.slice(1)
---

<div
  class='bg-rosely6 dark:bg-rosely8 hidden lg:sticky lg:top-16 lg:-ml-12 lg:block lg:h-[calc(100vh-4rem)] lg:flex-none lg:overflow-y-auto lg:py-16 lg:pl-6'
>
  <nav aria-labelledby='grid-left' class='w-64 pr-8 text-base lg:text-sm xl:w-72 xl:pr-16'>
    <ul role='list' class='space-y-9'>
      {
        Object.entries(sidebar).map(([header, children]) => (
          <li>
            <div class='nav-group'>
              <h2 class='font-display text-rosely8 dark:text-rosely3 font-medium'>{header}</h2>
              <ul
                role='list'
                class='border-rosely-b dark:border-rosely-a lg:border-rosely-a mt-2 space-y-1 border-l-2 lg:mt-4 lg:space-y-2'
              >
                {children.map((child) => {
                  const url = import.meta.env.BASE_URL + child.link
                  return (
                    <li class='relative'>
                      <a
                        href={url}
                        aria-current={currentPageMatch.search(child.link) >= 0 ? 'page' : false}
                        class={
                          currentPageMatch.search(child.link) >= 0
                            ? 'text-rosely-c before:bg-rosely-c dark:text-rosely7 dark:before:bg-rosely6 block w-full pl-3.5 font-semibold before:pointer-events-none before:absolute before:top-1/2 before:-left-1 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full'
                            : 'text-rosely9 before:bg-rosely9 hover:text-rosely-c dark:text-rosely-b dark:before:bg-rosely6 dark:hover:text-rosely6 block w-full pl-3.5 before:pointer-events-none before:absolute before:top-1/2 before:-left-1 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full hover:before:block'
                        }
                      >
                        {child.text}
                      </a>
                    </li>
                  )
                })}
              </ul>
            </div>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
