---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  base: string
  prev?: CollectionEntry<'blog'> | CollectionEntry<'bio'>
  next?: CollectionEntry<'blog'> | CollectionEntry<'bio'>
}

const { base, prev, next } = Astro.props
---

<dl class='border-rosely-a dark:border-rosely8 mt-12 flex border-t pt-6'>
  {
    prev && (
      <div class='mr-auto text-left'>
        <dt class='font-display text-rosely1 dark:text-rosely3 text-sm font-medium'>Prev</dt>
        <dd class='mt-1'>
          <a
            class='text-rosely9 hover:text-rosely-c dark:text-rosely-b dark:hover:text-rosely5 text-base font-semibold'
            href={base + prev.id}
          >
            <span aria-hidden='true'>←</span>
            {prev.data.title}
          </a>
        </dd>
      </div>
    )
  }
  {
    next && (
      <div class='ml-auto text-right'>
        <dt class='font-display text-rosely1 dark:text-rosely3 text-sm font-medium'>Next</dt>
        <dd class='mt-1'>
          <a
            class='text-rosely9 hover:text-rosely-c dark:text-rosely-b dark:hover:text-rosely5 text-base font-semibold'
            href={base + next.id}
          >
            {next.data.title}
            <span aria-hidden='true'>→</span>
          </a>
        </dd>
      </div>
    )
  }
</dl>
